/***** Variables *****/
  /***** Couleurs *****/
  $light-gray : #EAEAEA;
  $gray : #353535;
  $background-color : #F6F6F6;
  $white : #FFF;
  $primary : #9356DC;
  $pink : #FF79DA;
  $black : #000;
  $green : #99E2D0;
  $green-font : #008766;
  $mid-gray : #7E7E7E;
  $backgournd-about : #F3F3F3;
  $blue-light : #84cdfa;
  $blue-green : #5ad1cd;
  $green : #99E2D0;