body {
    font-family: "Roboto", sans-serif;
    color: #000;
    margin: 0 auto;
}

.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.header__logo {
    width: 164px;
    padding: 16px 8px;
}

.location {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;  
}

.location__icon {
    margin-right: 17px;
}

.about {
    background-color: #F6F6F6;
    justify-content: center;
    text-align: center;
}

.about__title {
    font-size: 24px;
    padding-top: 40px;
}

.about__subtitle {
    font-size: 18px;
}

.about__btn {
    margin-top: 58px;
    margin-bottom: 28px;
}