
/*General*/  

body {
    margin : 0;
    font-family : Roboto;
}

.header {
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    &__logo {
        height: 36px;
        max-width: 100%;
    }
}

/*Localisation*/
.location {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__icon {
        margin-right: 17px;
    }

    &__txt {
        font-size: 16px;
        font-weight: 500;
    }
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F3F3F3;
    padding: 35px 25px 60px 25px;
    position: relative;

    &__title {
       font-size: 25px;
       font-weight: 700;
       margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 3OO;
        margin-bottom: 35px;
    }

    &__btn {
        font-size: 16px;
        font-weight: 500;
        color: #FFF;
        padding: 16px 24px;
        border: none;
        border-radius: 25px;
        background: linear-gradient(#FF79DA, #9356DC);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
}

/*Fonctionnement*/
.function {
    background-color: #FFF;
    padding: 38px 20px 28px 20px;

    &__title {
        font-size: 24px;   
    }

    &__step {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        position: relative;
        height: 74px;
        width: 100%;
        border-radius: 25px;
        background-color: #EAEAEA;
        padding-left: 5Opx;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    }

    &__steps {
        padding-left: 0;
        padding-left: 10px;
    }

    &__number {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 14px;
       font-weight: 500;
       width: 24px;
       height: 24px;
       position: absolute;
       color: #FFF;
       background-color: #9356DC;
       border-radius: 25px;
       left: -10px;
    }

    &__icon {
        color: #7E7E7E;
        height: 20px;
        width: 13px;
        padding-right: 20px;
        padding-left: 30px;
    }
}