@charset "UTF-8";
/* Animations et Variables */
/***** Variables *****/
/***** Couleurs *****/
/* Animations et Variables */
.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 1s forwards;
  animation-delay: 2s;
}

.loader__spinner {
  position: relative;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1s linear infinite;
  background-color: #9356DC;
  background-image: linear-gradient(#9356DC, #FF79DA, #84cdfa, #5ad1cd);
  z-index: 10001;
  -webkit-mask-image: radial-gradient(circle, transparent 40%, black 41%);
  mask-image: radial-gradient(circle, transparent 40%, black 41%);
}

.loader__spinner span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-image: inherit;
}

.loader__spinner span:nth-of-type(1) {
  filter: blur(5px);
}

.loader__spinner span:nth-of-type(2) {
  filter: blur(10px);
}

.loader__spinner span:nth-of-type(3) {
  filter: blur(25px);
}

.loader__spinner span:nth-of-type(4) {
  filter: blur(50px);
}

.loader__spinner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 50%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    pointer-events: none;
  }
}
@keyframes rotate_3922 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Animations et Variables */
.about__btn {
  transition: all 600ms ease-in-out; /* L'animation commence lentement, accélère, puis ralentit à la fin. */
}
.about__btn:hover {
  filter: brightness(1.1); /* Augmente la luminosité de l'élément de 110% */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* Décalage horizontal, vertical, le flou et la couleur avec opacité */
}
.about__btn:active {
  filter: brightness(0.95); /* Augmente la luminosité de l'élément de 95% */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(1px); /* Déplace physiquement le bouton de 1 pixel vers le bas pour un effet d'enfoncement réaliste */
}

/* Animations et Variables */
.function__step:hover .function__icon {
  color: #9356DC;
  filter: brightness(1.1); /* Augmente la luminosité de l'élément de 110% */
  transition: color 300ms ease-in-out; /* L'animation ease-in-out : commence lentement, accélère, puis ralentit à la fin. */
}
.function:active {
  color: #9356DC;
  filter: brightness(0, 90);
  transform: translateY(1px); /* Déplace physiquement le bouton de 1 pixel vers le bas pour un effet d'enfoncement réaliste */
  transition: color 300ms ease-in-out;
}

/* Animations et Variables */
/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto; /* Définit la police principale */
}
body ol {
  padding: 0; /* Réinitialise le padding par défaut des listes ordonnées */
}

/* En Tete */
.header {
  position: relative; /* Positionnement relatif pour que d'autres éléments puissent s'y positionner */
  z-index: 3; /* Assure que le header est au-dessus du reste du contenu */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; /* Empêche le retour à la ligne des éléments enfants */
}
.header__logo {
  height: 36px;
  max-width: 100%; /* Assure que le logo ne dépasse pas la largeur du conteneur */
}

/* Localisation */
.location {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center; /* Centre verticalement les icônes et le texte */
  justify-content: center; /* Centre horizontalement l'ensemble */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; /* Positionné sous le header */
}
.location__icon {
  margin-right: 17px;
}
.location__txt {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F3F3F3;
  padding: 35px 25px 60px 25px;
  position: relative;
}
.about__title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.about__subtitle {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 35px;
}
.about__btn {
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  padding: 16px 24px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Fonctionnement */
.function {
  background-color: #FFF;
  padding: 38px 20px 28px 20px;
}
.function__container {
  max-width: 470px;
  margin: 0 auto;
}
.function__title {
  font-size: 24px;
}
.function__step {
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  position: relative;
  height: 74px;
  width: 100%;
  border-radius: 25px;
  padding-left: 0;
}
.function__steps {
  padding-left: 10px;
  cursor: pointer;
}
.function__number {
  position: absolute;
  color: #FFF;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: -12px;
}
.function__icon {
  color: #7E7E7E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  margin-right: 20px;
}

/* Restaurants */
.restaurants {
  background-color: #F6F6F6;
  padding: 40px 20px;
}
.restaurants__title {
  margin-top: 0;
}
.restaurants__like {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 2rem;
  width: 2rem;
  padding: 0;
  margin-bottom: 8px;
}

/* Checkbox cachée */
input[type=checkbox].checkbox__like {
  display: none;
}

/* État cliqué (checked) */
input[type=checkbox].checkbox__like:checked + label.restaurants__like .restaurants__like--full {
  opacity: 1;
  transform: scale(1);
}
input[type=checkbox].checkbox__like:checked + label.restaurants__like .restaurants__like--empty {
  opacity: 0;
  transform: scale(0.6);
}

.restaurants__like--full {
  opacity: 0;
  font-size: 26px;
  cursor: pointer;
  position: absolute; /* Position absolue pour se placer au-dessus du cœur vide (qui est aussi en absolute). */
  z-index: 2; /* Place cet élément au-dessus de l'autre (couche supérieure) grâce à un index plus élevé. */
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0.6); /* Réduit l'élément à 60% de sa taille initiale (souvent utilisé pour créer un effet de "zoom" lors de l'animation). */
  transition: opacity 0.2s linear, transform 0.2s linear;
  transform: scale(0.6);
}

.restaurants__like--empty {
  opacity: 1; /* L'élément est totalement visible (opacité à 100%). */
  font-size: 26px;
  cursor: pointer;
  position: absolute; /* Position absolue pour pouvoir superposer le cœur plein exactement au-dessus du cœur vide. */
  transition: opacity 0.2s linear, transform 0.2s linear;
  transform: scale(1);
}

.card {
  color: #000;
  padding: 0px;
  text-decoration: none;
}
.card__restaurant {
  background-color: #FFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  width: 100%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}
.card__img__content {
  position: relative;
}
.card__img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__new {
  color: #008766;
  background-color: #99E2D0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  width: 80px;
  height: 29px;
  border-radius: 3px;
  right: 15px;
  top: 15px;
}
.cardnew--hidden {
  visibility: hidden;
}
.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-color: #FFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 60px;
}
.card__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.card__subtitle {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
}
.card__like--container {
  position: absolute;
  background-color: #FFF;
  bottom: 25px;
  right: 25px;
}

/* footer */
.footer {
  padding: 22px 25px;
  background-color: #353535;
  color: #FFF;
}
.footer p, .footer i, .footer a {
  color: #FFF;
  text-decoration: none;
  margin: 0;
  margin-bottom: 7px;
}
.footer__logo {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  color: #FFF;
  margin: 0 0 24px 0;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
}
.footer__nav {
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer__nav--icons {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets , 768px and up) */
@media (min-width: 768px) {
  .about {
    padding: 30px 20px;
  }
  .about__title {
    font-size: 28px;
  }
  .about__btn {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    display: block;
  }
  .function__container {
    max-width: 900px;
    margin: 0 auto;
  }
  .function__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
  }
  .function__step {
    flex: 1;
    justify-content: center;
    padding-left: 0 15px 0 25px;
    font-size: 14px;
  }
  .function__number {
    left: -12px;
  }
  .function__icon {
    margin-right: 15px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
  .card {
    width: 100%;
    height: auto;
  }
}
/* Desktop devices (desktop , 1024px and up) */
@media (min-width: 1024px) {
  .header {
    padding: 30px 0;
  }
  .header__logo {
    height: 34px;
  }
  .about {
    padding: 30px 0;
    margin: 0;
  }
  .about__btn {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .function {
    padding: 50px 0px;
  }
  .function__container {
    max-width: 1080px;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
  }
  .function__title {
    margin-left: 0;
    margin-bottom: 25px;
  }
  .function__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
    padding: 0;
    margin-left: 0;
  }
  .function__step {
    flex: 1;
    margin-bottom: 0;
    justify-content: center;
    padding-left: 0;
  }
  .function__icon {
    padding-left: 0;
    margin-right: 20px;
  }
  .restaurants {
    padding: 60px 0;
  }
  .restaurants__container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .restaurants__title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 35px;
    padding: 0;
  }
  /* l'effet survol en desktop */
  label.restaurants__like:hover .restaurants__like--full {
    opacity: 1;
    transform: scale(1);
  }
  label.restaurants__like:hover .restaurants__like--empty {
    opacity: 0;
    transform: scale(0.6);
  }
  .cards {
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 50px;
    margin-bottom: 0;
  }
  .card {
    width: 100%;
    height: auto;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 64px 25px 30px 25px;
  }
  .footer__logo {
    width: auto;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-left: 70px;
    margin-bottom: 6px;
  }
  .footer__bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin: 0;
  }
  .footer__bloc__nav {
    margin: 0;
  }
  .footer__bloc__nav__info {
    margin-left: 20px;
  }
  .footer__bloc p {
    margin-bottom: 0;
  }
  .footer__bloc__nav--icon {
    margin-right: 5px;
  }
  .footer__bloc__nav--icon p {
    margin-bottom: 0;
  }
}
/* Extra large devices (large desktop , 1440px and up) */
@media (min-width: 1440px) {
  .function {
    padding: 30px 20px;
  }
  .restaurants {
    padding: 60px 20px;
  }
  .cards {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=index.css.map */