/***** Variables *****/
  /***** Couleurs *****/
  $light-gray : #EAEAEA;
  $gray : #353535;
  $background-color : #F6F6F6;
  $white : #FFF;
  $primary : #9356DC;
  $pink : #FF79DA;
  $black : #000;
  $green : #99E2D0;
  $green-font : #008766;
  $mid-gray : #7E7E7E;
  $backgournd-about : #F3F3F3;
  
/* General */
 * {
    margin : 0;
    font-family : Roboto;
  }

  body {
    background-color: $background-color;
  }

/* En Tete */  
.header {
    display : flex;
    flex-direction : row;
    align-items: center;
    justify-content: center;
    padding : 14px 0;
    box-shadow : 0px 2px 4px rgba(0, 0, 0, 0.15);

    &__logo {
        height: 36px;
        width: 100%;
    }

    &__return {
        color: $black;
        margin-left : 17px;
    }
}

/* Image */
.restaurant {
    position : relative;

    &__img {
        height : 275px;
        width :100%;
        display : block;
        object-fit: cover;
    }

    &__like {
    position : relative;
  
        &--empty {
            width : 30px;
            height : 80px;
            position: absolute;
            cursor: pointer;
        }

        &--full {
            width : 30px;
            height : 80px;
            position: absolute;
            cursor: pointer;
        }
    }

    &__page {
        background-color : $background-color;
        position : relative;
        z-index : 1;
        border-top-right-radius: 30px;
        border-top-left-radius : 30px;
        margin-top : -40px;   
    }
  
    &__header {
        display : flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding : 32px 41px 42px 17px;
    }
  
    &__title {
        font-family : Shrikhand;
        font-size : 28px;
        font-weight : 400;
    }

    &__like {
        position : relative;
        background-color: $background-color;
        border: none;
    }
  
}

/* Menu */
.menu__card {
  display : flex;
  flex-direction : column;
  padding : 0 13px 40px 13px;
}

.entrees {
    padding-bottom: 40px;

  &__title {
    font-size : 14px;
    font-weight : 300;
    padding-bottom : 8px;
    margin-bottom: 15px;
    width: 30px;
    border-bottom : 3px solid #99E2D0;
  }
}

.plats {
    padding-bottom: 40px;

    &__title {
        font-size : 14px;
        font-weight : 300;
        padding-bottom :8px;
        margin-bottom: 15px;
        width: 30px;
        border-bottom : 3px solid #99E2D0;
    }
}

.desserts {
    padding-bottom: 40px;

    &__title {
        font-size : 14px;
        font-weight : 300;
        padding-bottom :8px;
        width: 30px;
        border-bottom : 3px solid #99E2D0;
    }
}

.cards {
    background-color: $white;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);
    border-radius : 15px;
    margin-top : 12px;
    height : 60px;
    cursor: pointer;
  
    &__info {
        padding : 12px 15px 0 15px;
        width: 100%;
    }
  
    &__title {
        text-overflow: ellipsis;
        white-space : nowrap;
        overflow : hidden;
        font-size : 14px;
        font-weight : 700;
    }
  
    &__description {
        display : flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding : 5px 0px 12px 0px;
    }
    
    &__text {
         text-overflow: ellipsis;
        white-space : nowrap;
        overflow : hidden;
        font-size : 12px;
        font-weight: 300;
        width: 80%;
    }
  
    &__price {
        font-weight: 700;
        font-size : 14px;
    }
  }

  
/* Bouton commande */
.order{
    display : flex;
    flex-direction :row;
    align-items: center;
    justify-content: center;
    padding : 0 0 40px 0;
  
    &__button {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        color : $white;
        text-align : center;
        padding : 15px 23px;
        border : none;
        border-radius: 25px;
        background: linear-gradient($pink, $primary);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
}

/* footer */
.footer {
    padding: 22px 25px;
    background-color: $gray;
    color: $white;

    & p , i , a {
        color: $white;
        text-decoration: none;
        margin: 0;
        margin-bottom: 7px;
    }

    &__logo {
        font-family: Shrikhand;
        font-size: 28px;
        font-weight: 400;
        color: $white;
        margin: 0 0 24px 0;
    }

    &__bloc {
        display: flex;
        flex-direction: column;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 11px;
        
        &--icons {
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
            font-size: 15px;
        }
    }
}