@charset "UTF-8";
/***** Variables *****/
/***** Couleurs *****/
/* General */
* {
  margin: 0;
  font-family: Roboto;
}

body {
  background-color: #F6F6F6;
}

/* Animations */
.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 2s forwards;
  animation-delay: 2s;
}

.loader__spinner {
  position: relative;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1s linear infinite;
  background-color: #9356DC;
  background-image: linear-gradient(#9356DC, #FF79DA, #84cdfa, #5ad1cd);
  z-index: 10001;
  -webkit-mask-image: radial-gradient(circle, transparent 40%, black 41%);
  mask-image: radial-gradient(circle, transparent 40%, black 41%);
}

.loader__spinner span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-image: inherit;
}

.loader__spinner span:nth-of-type(1) {
  filter: blur(5px);
}

.loader__spinner span:nth-of-type(2) {
  filter: blur(10px);
}

.loader__spinner span:nth-of-type(3) {
  filter: blur(25px);
}

.loader__spinner span:nth-of-type(4) {
  filter: blur(50px);
}

.loader__spinner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 50%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    pointer-events: none;
  }
}
@keyframes rotate_3922 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.order__btn {
  transition: all 600ms ease-in-out;
}
.order__btn:hover {
  filter: brightness(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
.order__btn:active {
  filter: brightness(0, 95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

/* En Tete */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__logo {
  height: 36px;
  width: 100%;
}
.header__return {
  color: #000;
  margin-left: 17px;
}

.restaurants__img {
  height: 275px;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Image */
.restaurants {
  position: relative;
}
.restaurants__page {
  background-color: #F6F6F6;
  position: relative;
  z-index: 1;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-top: -40px;
}
.restaurants__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 17px;
}
.restaurants__title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.restaurants__like {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* Checkbox cachée */
input[type=checkbox].checkbox__like {
  display: none;
}

/* État cliqué (checked) */
input[type=checkbox].checkbox__like:checked + label.restaurants__like .restaurants__like--full {
  opacity: 1;
  transform: scale(1);
}
input[type=checkbox].checkbox__like:checked + label.restaurants__like .restaurants__like--empty {
  opacity: 0;
  transform: scale(0.6);
}

.restaurants__like--full {
  opacity: 0;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0.6);
  transition: opacity 0.2s linear, transform 0.2s linear;
  transform: scale(0.6);
}

.restaurants__like--empty {
  opacity: 1;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.2s linear, transform 0.2s linear;
  transform: scale(1);
}

/* l'effet survol en desktop */
label.restaurants__like:hover .restaurants__like--full {
  opacity: 1;
  transform: scale(1);
}
label.restaurants__like:hover .restaurants__like--empty {
  opacity: 0;
  transform: scale(0.6);
}

/* Menu */
.menu__card {
  display: flex;
  flex-direction: column;
  padding: 0 13px 40px 13px;
}

.entrees {
  padding-bottom: 40px;
}
.entrees__title {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 8px;
  margin-bottom: 15px;
  width: 30px;
  border-bottom: 3px solid #99E2D0;
}

.plats {
  padding-bottom: 40px;
}
.plats__title {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 8px;
  margin-bottom: 15px;
  width: 30px;
  border-bottom: 3px solid #99E2D0;
}

.desserts {
  padding-bottom: 40px;
}
.desserts__title {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 8px;
  width: 30px;
  border-bottom: 3px solid #99E2D0;
}

.cards {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  height: 60px;
  cursor: pointer;
}
.cards__info {
  padding: 12px 15px 0 15px;
  width: 100%;
}
.cards__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
}
.cards__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px 12px 0px;
}
.cards__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  font-weight: 300;
  width: 80%;
}
.cards__price {
  font-weight: 700;
  font-size: 14px;
}

/* Bouton commande */
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.order__btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  padding: 15px 23px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* footer */
.footer {
  padding: 22px 25px;
  background-color: #353535;
  color: #FFF;
}
.footer p, .footer i, .footer a {
  color: #FFF;
  text-decoration: none;
  margin: 0;
  margin-bottom: 7px;
}
.footer__logo {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  color: #FFF;
  margin: 0 0 24px 0;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
}
.footer__nav {
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer__nav--icons {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 15px;
}/*# sourceMappingURL=restaurant.css.map */