@charset "UTF-8";
/* Animations */
/***** Variables *****/
/***** Couleurs *****/
/* Animations */
.cards__1 {
  animation: card_reveal both ease-in-out;
  animation-duration: 2s;
  animation-delay: 100ms;
}
.cards__2 {
  animation: card_reveal both ease-in-out;
  animation-delay: 250ms;
  animation-duration: 2s;
}
.cards__3 {
  animation: card_reveal both ease-in-out;
  animation-delay: 400ms;
  animation-duration: 2s;
}
.cards__4 {
  animation: card_reveal both ease-in-out;
  animation-delay: 600ms;
  animation-duration: 2s;
}
.cards__5 {
  animation: card_reveal both ease-in-out;
  animation-delay: 900ms;
  animation-duration: 2s;
}
.cards__6 {
  animation: card_reveal both ease-in-out;
  animation-delay: 1000ms;
  animation-duration: 2s;
}
.cards__7 {
  animation: card_reveal both ease-in-out;
  animation-delay: 1100ms;
  animation-duration: 2s;
}
.cards__8 {
  animation: card_reveal both ease-in-out;
  animation-delay: 1300ms;
  animation-duration: 2s;
}
.cards__9 {
  animation: card_reveal both ease-in-out;
  animation-delay: 1500ms;
  animation-duration: 2s;
}
.cards__9 {
  animation: card_reveal both ease-in-out;
  animation-delay: 1700ms;
  animation-duration: 2s;
}
.cards__10 {
  animation: card_reveal both ease-in-out;
  animation-delay: 1700ms;
  animation-duration: 2s;
}

@keyframes card_reveal {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/* Animations */
/* Animations */
.order__btn {
  transition: all 600ms ease-in-out;
}
.order__btn:hover {
  filter: brightness(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
.order__btn:active {
  filter: brightness(0, 95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

/* Animations */
.cards {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.cards:hover .cards__checkout {
  opacity: 1;
  transition: all 600ms ease;
  animation: card-check 600ms both;
}
.cards:hover .cards__info {
  animation: card-checked 600ms both;
}
.cards:hover .fa__check {
  animation: rotate-check 600ms ease;
}

.cards__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  width: 0;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.fa__check {
  background-color: #FFF;
  color: #99E2D0;
  display: flex;
  text-align: center;
  align-content: center;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  font-size: 16px;
  opacity: 1;
}
.fa__check > i {
  margin: 0;
  padding: 0;
}

.cards__info {
  animation: card-no-checked 600ms both;
}

.cards__price {
  padding-right: 10px;
  right: 20px;
  bottom: 20px;
}

@keyframes rotate-check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes card-checked {
  0% {
    width: 100%;
  }
  100% {
    width: 75%;
  }
}
@keyframes card-no-checked {
  0% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
@keyframes card-check {
  0% {
    width: 0;
  }
  100% {
    width: 60px;
  }
}
/* General */
* {
  margin: 0;
  font-family: Roboto;
}

body {
  background-color: #F6F6F6;
}

/* En Tete */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__logo {
  height: 36px;
  width: 100%;
}
.header__return {
  color: #000;
  margin-left: 17px;
}

.restaurants__img {
  height: 275px;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Image */
.restaurants {
  position: relative;
}
.restaurants__page {
  background-color: #F6F6F6;
  position: relative;
  z-index: 1;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-top: -40px;
}
.restaurants__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 17px;
}
.restaurants__title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.restaurants__like {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* Checkbox cachée */
input[type=checkbox].checkbox__like {
  display: none;
}

/* État cliqué (checked) */
input[type=checkbox].checkbox__like:checked + label.restaurants__like .restaurants__like--full {
  opacity: 1;
  transform: scale(1);
}
input[type=checkbox].checkbox__like:checked + label.restaurants__like .restaurants__like--empty {
  opacity: 0;
  transform: scale(0.6);
}

.restaurants__like--full {
  opacity: 0;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0.6);
  transition: opacity 0.2s linear, transform 0.2s linear;
  transform: scale(0.6);
}

.restaurants__like--empty {
  opacity: 1;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.2s linear, transform 0.2s linear;
  transform: scale(1);
}

/* l'effet survol en desktop */
label.restaurants__like:hover .restaurants__like--full {
  opacity: 1;
  transform: scale(1);
}
label.restaurants__like:hover .restaurants__like--empty {
  opacity: 0;
  transform: scale(0.6);
}

/* Menu */
.menu__card {
  display: flex;
  flex-direction: column;
  padding: 0 13px 40px 13px;
}

.entrees {
  padding-bottom: 40px;
}
.entrees__title {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 8px;
  margin-bottom: 15px;
  width: 30px;
  border-bottom: 3px solid #99E2D0;
}

.plats {
  padding-bottom: 40px;
}
.plats__title {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 8px;
  margin-bottom: 15px;
  width: 30px;
  border-bottom: 3px solid #99E2D0;
}

.desserts {
  padding-bottom: 40px;
}
.desserts__title {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 8px;
  width: 30px;
  border-bottom: 3px solid #99E2D0;
}

.cards {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  height: 60px;
  cursor: pointer;
}
.cards__info {
  padding: 12px 15px 12px 15px;
  flex: 1;
  min-width: 0;
  white-space: 0;
  white-space: nowrap;
  overflow: hidden;
}
.cards__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
}
.cards__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px 12px 0px;
}
.cards__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  font-weight: 300;
  width: 80%;
}
.cards__price {
  font-weight: 700;
  font-size: 14px;
}

/* Bouton commande */
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.order__btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  padding: 15px 23px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* footer */
.footer {
  padding: 22px 25px;
  background-color: #353535;
  color: #FFF;
}
.footer p, .footer i, .footer a {
  color: #FFF;
  text-decoration: none;
  margin: 0;
  margin-bottom: 7px;
}
.footer__logo {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  color: #FFF;
  margin: 0 0 24px 0;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
}
.footer__nav {
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer__nav--icons {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets , 768px and up) */
@media (min-width: 768px) {
  .restaurants__page {
    max-width: 768px;
    margin: -40px auto 0;
    width: 100%;
  }
  .menu__card {
    padding: 0 40px;
  }
  .footer {
    padding: 40px 25px;
  }
}
/* Desktop devices (desktop , 1024px and up) */
@media (min-width: 1024px) {
  .restaurants__page {
    background-color: #EAEAEA;
    position: relative;
    width: 80%;
    max-width: 1055px;
    margin: -64px auto 0 auto;
    z-index: 2;
    border-top-right-radius: 40px;
    border-top-right-radius: 40px;
  }
  .restaurants__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 0px;
  }
  .restaurants__img {
    height: 400px;
    width: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .menu__card {
    padding: 0 15%;
  }
  .order {
    padding: 40px 0;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 25px 30px;
  }
  .footer__logo {
    width: auto;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-left: 70px;
  }
  .footer__bloc {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin: 0;
  }
  .footer__bloc p, .footer__bloc i, .footer__bloc a {
    margin-bottom: 0;
  }
  .footer__bloc__nav {
    margin: 0;
  }
  .footer__bloc__nav__info {
    margin-left: 20px;
  }
  .footer__bloc__nav p {
    margin-bottom: 0;
  }
  .footer__bloc__nav__nav--icon {
    margin-right: 5px;
  }
  .footer__bloc__nav p {
    margin-bottom: 0;
  }
}
/* Extra large devices (large desktop , 1440px and up) */
@media (min-width: 1440px) {
  .restaurants__header {
    padding-bottom: 40px;
  }
  .order__btn {
    width: 186px;
    height: 50px;
  }
}/*# sourceMappingURL=restaurant.css.map */