@use'../variables/variables';

.cards {
  position : relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;

  &:hover .cards__checkout {
    opacity : 1;
    transition: all 600ms ease;
    animation: card-check 600ms both;
  }

  &:hover .cards__info {
    animation : card-checked 600ms both;
  }

  &:hover .fa__check {
    animation: rotate-check 600ms ease;
  }
}

.cards__checkout {
  display : flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity : 0;
  width: 0;
  background-color : variables.$green;
  border-top-right-radius : 15px;
  border-bottom-right-radius : 15px;
}

.fa__check {
  background-color: variables.$white;
  color: variables.$green;
  display: flex;
  text-align: center;
  align-content: center;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  font-size: 16px;
  opacity: 1;

  & > i {
    margin: 0;
    padding: 0;
  }
}

.cards__info {
    animation : card-no-checked 600ms both;
  }

.cards__price {
  padding-right: 10px;
  right : 20px;
  bottom : 20px;
}

@keyframes rotate-check {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes card-checked {
  0% {width : 100%}
  100% {width: 75%;}
}

@keyframes card-no-checked {
  0% {width: 75%;}
  100% {width : 100%}
}

@keyframes card-check {
  0% {width: 0;}
  100% {width: 60px;}
}