@use'../variables/variables';

.function {
    &__step:hover &__icon {
        color: variables.$primary;   
        filter : brightness(1.10);
        transition: color 300ms ease-in-out;
        }
    
        &:active{
            color: variables.$primary;
            filter : brightness(0,90);
            transform: translateY(1px);
            transition: color 300ms ease-in-out;
        }
}    