@use '../variables/variables';

.loader__container {
  position: fixed; /* Fixe l'élément par rapport à la fenêtre du navigateur (reste visible au scroll) */
  top: 0; /* Positionne l'élément tout en haut de la fenêtre */
  left: 0; /* Positionne l'élément tout à gauche de la fenêtre */
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  z-index: 9999; /* Assure que le loader soit au-dessus de presque tous les autres éléments du site */
  display: flex;
  justify-content: center; /* Centre l'élément enfant (le spinner) horizontalement */
  align-items: center; /* Centre l'élément enfant (le spinner) verticalement */
  animation: fadeOut 1s forwards; /* Lance l'animation 'fadeOut' sur 1s et garde l'état final (forwards) */
  animation-delay: 2s;
}

.loader__spinner {
  position: relative; /* Le conteneur reste dans le flux normal de la page , il sert de rèpere pour le loader */
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1s linear infinite; /* Animation de rotation continue, linéaire, durée 1s */
  background-color: variables.$primary;
  background-image: linear-gradient(variables.$primary, variables.$pink, variables.$blue-light, variables.$blue-green);
  z-index: 10001; /* Place le spinner au-dessus du conteneur du loader */
  -webkit-mask-image: radial-gradient(circle, transparent 40%, black 41%); /* Version Chrome et Safari : crée l'effet d'anneau évidé */
  mask-image: radial-gradient(circle, transparent 40%, black 41%); /* Version firefox, Edge et récente Chrome : crée l'effet d'anneau évidé */
}

.loader__spinner span {
  position: absolute; /* Position absolue pour se superposer au spinner */
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-image: inherit; /* Hérite du même dégradé de couleurs que le parent */
}

.loader__spinner span:nth-of-type(1) { 
  filter: blur(5px); /* Applique un flou léger de 5px sur le premier span */
}

.loader__spinner span:nth-of-type(2) {
  filter: blur(10px);
}

.loader__spinner span:nth-of-type(3) {
  filter: blur(25px);
}

.loader__spinner span:nth-of-type(4) {
  filter: blur(50px); /* Applique un flou très fort de 50px sur le quatrième span */
}

.loader__spinner::after {
  content: ""; /* Nécessaire pour afficher le pseudo-élément ::after */
  position: absolute; /* Position absolue pour se superposer au spinner */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: none; /* Pas de flou d'arrière-plan sur cet élément spécifique */
  -webkit-backdrop-filter: none; /* Version Webkit (Safari/Chrome) pour annuler le filtre */
  backdrop-filter: none;
  border-radius: 50%; /* Cercle parfait */
}

@keyframes fadeOut {
  0% {
    opacity: 1; /* Complètement visible au début */
    visibility: visible;
    backdrop-filter: blur(10px); /* Le flou d'arrière-plan est actif */
  }

  100% {
    opacity: 0; /* Complètement transparent à la fin */
    visibility: hidden; /* Invissible */
    backdrop-filter: blur(0px); /* Le flou d'arrière-plan est supprimé */
    pointer-events: none; /* Désactive les clics */
  }
}

@keyframes rotate_3922 {
  from {
    transform: rotate(0deg); /* Commence la rotation à 0 degré */
  }

  to {
    transform: rotate(360deg); /* Termine la rotation à 360 degrés */
  }
}

