.order {
    &__btn {
        transition : all 600ms ease-in-out;
    
        &:hover{
            filter : brightness(1.10);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
        }
    
        &:active{
            filter : brightness(0,95);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transform: translateY(1px);
        }
    }    
}