@mixin restaurants__like {
    background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin restaurants__like--empty {
    opacity: 1;
    font-size: 1.6rem;
    cursor: pointer;  
    position: absolute;
}

@mixin restaurants__like--full {
    opacity: 0;
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0.6);
}