body {
    font-family: "Roboto", sans-serif;
    color: #000;
    margin: 0 auto;
}

.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    &__logo {
        width: 164px;
        padding: 16px 8px;
    }
}